<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>YJ Company</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/css/styles.css" rel="stylesheet" type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

       
    </head>
    <body class="sb-nav-fixed" >

        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="/" style="font-family:Arial, Helvetica, sans-serif; font-size: 2rem;"><i class="fas fa-gem" style="font-size:1.5rem;"></i> Yi-Joon</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!" style="background-color: #212529; margin-left: 1rem;"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">Settings</a></li>
                        <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            <a class="nav-link" href="index.ejs">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Layouts
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="layout-static.html">Static Navigation</a>
                                    <a class="nav-link" href="layout-sidenav-light.html">Light Sidenav</a>
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Pages
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Authentication
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="login.html">Login</a>
                                            <a class="nav-link" href="register.html">Register</a>
                                            <a class="nav-link" href="password.html">Forgot Password</a>
                                        </nav>
                                    </div>
                                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                        Error
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            <a class="nav-link" href="401.html">401 Page</a>
                                            <a class="nav-link" href="404.html">404 Page</a>
                                            <a class="nav-link" href="500.html">500 Page</a>
                                        </nav>
                                    </div>
                                </nav>
                            </div>
                            <div class="sb-sidenav-menu-heading">Addons</div>
                            <a class="nav-link" href="/total">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                전체검색
                            </a>
                            <a class="nav-link" href="/blog">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                블로그검색
                            </a>
                            <a class="nav-link" href="/">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                연관키워드
                            </a>
                            <a class="nav-link" href="myproducts">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                나의물품
                            </a>
                        </div>
                    </div>
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                </nav>
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4" style="font-family:Arial, Helvetica, sans-serif;"><b>전체검색</b></h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">전체검색하는 페이지입니다.</li>
                        </ol>
                        <div class="row">
                            <div class="col-xl-3">
                                <div class="card mb-4">
                                    <div class="card-header" style="text-align: center;">
                                        <i class="fas fa-search-plus"></i>
                                        <b>Top80 판매량</b>
                                    </div>
                                    <div class="card-body">
                                        <div style="text-align: center; padding-bottom: 2rem;">
                                            <i class="fas fa-search-plus" style="font-size: 3rem; color:lightslategrey"></i>
                                        </div>
                                        <div style="text-align: center; font-family:sans-serif; font-size: 2rem;">
                                            <b><p style=" margin-bottom: 0;"></p></b>
                                            <p style="font-size: 0.8rem; color:green; margin-bottom: 0;">네이버페이기준</p>
                                            <p style="font-size: 0.8rem; color:gray">6개월간 상위 Top80 상품의 판매량</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="card mb-4">
                                    <div class="card-header" style="text-align: center;">
                                        <i class="fas fa-arrow-alt-circle-up"></i>
                                        <b>최고가격</b>
                                    </div>
                                    <div class="card-body">
                                        <div style="text-align: center; padding-bottom: 2rem;">
                                            <i class="fas fa-arrow-alt-circle-up" style="font-size: 3rem; color:lightslategrey"></i>
                                        </div>
                                        <div style="text-align: center; font-family:sans-serif; font-size: 2rem;">
                                            <b><p style=" margin-bottom: 0;">원</p></b>
                                            <p style="font-size: 0.8rem; color:red; margin-bottom: 0;">+원</p>
                                            <p style="font-size: 0.8rem; color:gray">최저가격대비(hprice-lprice)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="card mb-4">
                                    <div class="card-header" style="text-align: center;">
                                        <i class="fas fa-arrow-alt-circle-down"></i>
                                        <b>최저가격</b>
                                    </div>
                                    <div class="card-body">
                                        <div style="text-align: center; padding-bottom: 2rem;">
                                            <i class="fas fa-arrow-alt-circle-down" style="font-size: 3rem; color:lightslategrey"></i>
                                        </div>
                                        <div style="text-align: center; font-family:sans-serif; font-size: 2rem;">
                                            <b><p style=" margin-bottom: 0;">원</p></b>
                                            <p style="font-size: 0.8rem; color:blue; margin-bottom: 0;">원</p>
                                            <p style="font-size: 0.8rem; color:gray">최고가격대비(lprice-hprice)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3">
                                <div class="card mb-4">
                                    <div class="card-header" style="text-align: center;">
                                        <i class="fas fa-search-plus"></i>
                                        <b>-</b>
                                    </div>
                                    <div class="card-body">
                                        <div style="text-align: center; padding-bottom: 2rem;">
                                            <i class="fas fa-search-plus" style="font-size: 3rem; color:lightslategrey"></i>
                                        </div>
                                        <div style="text-align: center; font-family:sans-serif; font-size: 2rem;">
                                            <b><p>-</p></b>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                <b>전체검색</b>
                            </div>

                            <form method="GET" action = "/temp_name" style="margin-top:1rem; margin-left:1rem">
                                <table>
                                    <tr>
                                        <input type="text" placeholder="키워드를 입력하세요." aria-label="키워드를 입력하세요." name = "keydata">
                                        <button type="submit"><i class="fas fa-search" style="font-size: 1rem; color:lightslategrey"></i></button>
                                    </tr>
                                </table>
                           </form>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                            <th>키워드</th>
                                            <th>클릭수(PC)</th>
                                            <th>클릭수(Mobile)</th>
                                            <th>전체클릭수</th>
                                            <th>카테고리</th>
                                            <th>6개월판매량</th>
                                            <th>1일판매량</th>
                                            <th>포스팅수</th>
                                            <th>섹션순서</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>키워드</th>
                                            <th>클릭수(PC)</th>
                                            <th>클릭수(Mobile)</th>
                                            <th>전체클릭수</th>
                                            <th>카테고리</th>
                                            <th>6개월판매량</th>
                                            <th>1일판매량</th>
                                            <th>포스팅수</th>
                                            <th>섹션순서</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <% for(var i=0; i<data.length; i++) {%>
                                            
                                            <tr>
                                                <td><%=data[i]['title']%></td>
                                                <td><%=data[i]['pccnt']%></td>
                                                <td><%=data[i]['mocnt']%></td>
                                                <td><b><%=data[i]['totalcnt']%></b></td>
                                                <td><%=data[i]['category']%></td>
                                                <td><%=data[i]['salecnt_6month']%></td>
                                                <td><%=data[i]['salecnt_1date']%></td>
                                                <td><%=data[i]['postingcnt']%></td>
                                                <td><%=data[i]['section']%></td>
                                            </tr>
                                            
                                        <% }%>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; 2021. Choi Min-Je all rights reserved.</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="chart-area-demo.js"></script>
        <script src="chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="datatables-simple-demo.js"></script>

        
    </body>
</html>
